In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import sklearn as sk  
dataset= pd.read_csv('police.csv')

In [6]:
from sklearn.impute import SimpleImputer


si=SimpleImputer(strategy="mean")# or median, most_frequent, constant)

In [2]:
dataset.isnull().sum() # to check the number of missing values in each column

stop_date                 0
stop_time                 0
county_name           91741
driver_gender          5335
driver_age_raw         5327
driver_age             5621
driver_race            5333
violation_raw          5333
violation              5333
search_conducted          0
search_type           88545
stop_outcome           5333
is_arrested            5333
stop_duration          5333
drugs_related_stop        0
dtype: int64

In [7]:
arr = si.fit_transform(dataset[['driver_age']])

In [10]:
pd.DataFrame(arr, columns=['driver_age'])

       driver_age
0            20.0
1            40.0
2            33.0
3            19.0
4            21.0
...           ...
91736        29.0
91737        33.0
91738        23.0
91739        22.0
91740        56.0

[91741 rows x 1 columns]

In [12]:
dataset['driver_age'] = si.fit_transform(dataset[['driver_age']])

dataset.isnull().sum()

stop_date                 0
stop_time                 0
county_name           91741
driver_gender          5335
driver_age_raw         5327
driver_age                0
driver_race            5333
violation_raw          5333
violation              5333
search_conducted          0
search_type           88545
stop_outcome           5333
is_arrested            5333
stop_duration          5333
drugs_related_stop        0
dtype: int64

In [14]:
dataset["driver_age"].mean()

np.float64(34.011333023687875)