In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

dataset= pd.read_csv('police.csv')

In [4]:
dataset.drop(columns=["county_name"], inplace=True)  # Drop the 'county_name' column

In [6]:
print(dataset.shape)

(91741, 14)

In [9]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91741 entries, 0 to 91740
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           91741 non-null  object
 1   stop_time           91741 non-null  object
 2   driver_gender       86406 non-null  object
 3   driver_age_raw      86414 non-null  float64
 4   driver_age          86120 non-null  float64
 5   driver_race         86408 non-null  object
 6   violation_raw       86408 non-null  object
 7   violation           86408 non-null  object
 8   search_conducted    91741 non-null  bool
 9   search_type         3196 non-null   object
 10  stop_outcome        86408 non-null  object
 11  is_arrested         86408 non-null  object
 12  stop_duration       86408 non-null  object
 13  drugs_related_stop  91741 non-null  bool
dtypes: bool(2), float64(2), object(10)
memory usage: 8.6+ MB

In [21]:
for i in dataset.select_dtypes(include="object").columns:
        dataset[i].fillna(dataset[i].mode()[0], inplace=True)

C:\Users\Ashish.Ranjan\AppData\Local\Temp\ipykernel_22796\3208782744.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[i].fillna(dataset[i].mode()[0], inplace=True)

In [22]:

dataset.isnull().sum().sum()/(dataset.shape[0] * dataset.shape[1]) * 100  # Percentage of missing values in the dataset

np.float64(0.0)

In [14]:
dataset.isnull().sum().sum()  # Total number of missing values

np.int64(10948)

In [17]:

for col in dataset.select_dtypes(include='number').columns:
    dataset[col].fillna(dataset[col].mean(), inplace=True)

C:\Users\Ashish.Ranjan\AppData\Local\Temp\ipykernel_22796\1212111419.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[col].fillna(dataset[col].mean(), inplace=True)