In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import sklearn as sk  
dataset= pd.read_csv('police.csv')

In [2]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91741 entries, 0 to 91740
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           91741 non-null  object
 1   stop_time           91741 non-null  object
 2   county_name         0 non-null      float64
 3   driver_gender       86406 non-null  object
 4   driver_age_raw      86414 non-null  float64
 5   driver_age          86120 non-null  float64
 6   driver_race         86408 non-null  object
 7   violation_raw       86408 non-null  object
 8   violation           86408 non-null  object
 9   search_conducted    91741 non-null  bool
 10  search_type         3196 non-null   object
 11  stop_outcome        86408 non-null  object
 12  is_arrested         86408 non-null  object
 13  stop_duration       86408 non-null  object
 14  drugs_related_stop  91741 non-null  bool
dtypes: bool(2), float64(3), object(10)
memory usage: 9.3+ MB

In [5]:
dataset['driver_age'].fillna(dataset["driver_gender"].mode()[0], inplace=True) # fill missing values with the mode of the column

C:\Users\Ashish.Ranjan\AppData\Local\Temp\ipykernel_10852\2470100243.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['driver_age'].fillna(dataset["driver_gender"].mode()[0], inplace=True) # fill missing values with the mode of the column
C:\Users\Ashish.Ranjan\AppData\Local\Temp\ipykernel_10852\2470100243.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'M' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  dataset['driver_age'].fillna(dataset["driver_gender"].mode()[0], inplace=True) # fill missing values with the mode of the column

In [6]:
en_data = dataset[['driver_gender']]

In [7]:
pd.get_dummies(en_data)

       driver_gender_F  driver_gender_M
0                False             True
1                False             True
2                False             True
3                False             True
4                 True            False
...                ...              ...
91736            False             True
91737             True            False
91738            False             True
91739            False             True
91740            False             True

[91741 rows x 2 columns]

In [13]:
from sklearn.preprocessing import OneHotEncoder
one=OneHotEncoder(drop="first")

In [14]:
arr = one.fit_transform(en_data).toarray()

In [15]:
pd.DataFrame(arr, columns=['driver_gender_M', 'driver_gender_F'])

       driver_gender_M  driver_gender_F
0                  1.0              0.0
1                  1.0              0.0
2                  1.0              0.0
3                  1.0              0.0
4                  0.0              0.0
...                ...              ...
91736              1.0              0.0
91737              0.0              0.0
91738              1.0              0.0
91739              1.0              0.0
91740              1.0              0.0

[91741 rows x 2 columns]